---
layout: default
---

<div class="home">

{% for project in site.projects %}
  <h2><a href="{{site.baseurl}}{{ project.url }}">
      {{ project.title }}
    </a></h2>
  <p>{{ project.artist }}</p>
{% endfor %}

</div>
